-- COMPREHENSIVE VERIFICATION SCRIPT
-- Tests all aspects of the ID proof upload fix

-- 1. Check table structure and data types
SELECT
  column_name,
  data_type,
  is_nullable,
  column_default
FROM information_schema.columns
WHERE table_name = 'registration_id_proofs'
ORDER BY ordinal_position;

-- 2. Check RLS policies for registration_id_proofs
SELECT
  schemaname,
  tablename,
  policyname,
  cmd,
  permissive,
  roles,
  qual,
  with_check
FROM pg_policies
WHERE tablename = 'registration_id_proofs'
ORDER BY policyname;

-- 3. Check RLS policies for storage.objects (id-proofs bucket)
SELECT
  schemaname,
  tablename,
  policyname,
  cmd,
  permissive,
  roles,
  qual,
  with_check
FROM pg_policies
WHERE tablename = 'objects'
  AND (qual LIKE '%id-proofs%' OR with_check LIKE '%id-proofs%')
ORDER BY policyname;

-- 4. Check storage bucket configuration
SELECT
  id,
  name,
  public,
  file_size_limit,
  allowed_mime_types
FROM storage.buckets
WHERE id = 'id-proofs';

-- 5. Check helper functions exist
SELECT
  routine_name,
  routine_type,
  security_type
FROM information_schema.routines
WHERE routine_schema = 'public'
  AND routine_name IN ('get_trek_required_id_types', 'user_has_approved_id_proofs');

-- 6. Check ID types are seeded
SELECT * FROM public.id_types ORDER BY display_name;

-- 7. Test function execution (should work for anon users)
SELECT * FROM public.get_trek_required_id_types(1);

-- 8. Check indexes are created
SELECT
  schemaname,
  tablename,
  indexname,
  indexdef
FROM pg_indexes
WHERE tablename = 'registration_id_proofs'
ORDER BY indexname;

-- 9. Verify RLS is enabled on tables
SELECT
  schemaname,
  tablename,
  rowsecurity
FROM pg_tables
WHERE tablename IN ('registration_id_proofs', 'objects')
ORDER BY tablename;
