

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "extensions";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgjwt" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."event_creator_type" AS ENUM (
    'internal',
    'external'
);


ALTER TYPE "public"."event_creator_type" OWNER TO "postgres";


CREATE TYPE "public"."notification_status_enum" AS ENUM (
    'unread',
    'read'
);


ALTER TYPE "public"."notification_status_enum" OWNER TO "postgres";


CREATE TYPE "public"."notification_type_enum" AS ENUM (
    'registration_confirmed',
    'payment_verified',
    'trek_cancelled',
    'trek_status_changed',
    'general_info'
);


ALTER TYPE "public"."notification_type_enum" OWNER TO "postgres";


CREATE TYPE "public"."post_type_enum" AS ENUM (
    'discussion',
    'gear_review',
    'trip_report'
);


ALTER TYPE "public"."post_type_enum" OWNER TO "postgres";


CREATE TYPE "public"."subscription_renewal_status" AS ENUM (
    'active',
    'inactive',
    'cancelled'
);


ALTER TYPE "public"."subscription_renewal_status" OWNER TO "postgres";


CREATE TYPE "public"."target_type" AS ENUM (
    'trek',
    'user',
    'post'
);


ALTER TYPE "public"."target_type" OWNER TO "postgres";


CREATE TYPE "public"."transport_mode" AS ENUM (
    'cars',
    'mini_van',
    'bus',
    'self_drive'
);


ALTER TYPE "public"."transport_mode" OWNER TO "postgres";


CREATE TYPE "public"."user_type_enum" AS ENUM (
    'admin',
    'trekker',
    'micro_community'
);


ALTER TYPE "public"."user_type_enum" OWNER TO "postgres";


CREATE TYPE "public"."user_verification_status" AS ENUM (
    'NOT_SUBMITTED',
    'PENDING_REVIEW',
    'VERIFIED',
    'REJECTED'
);


ALTER TYPE "public"."user_verification_status" OWNER TO "postgres";


CREATE TYPE "public"."visibility_enum" AS ENUM (
    'public',
    'private',
    'friends_only'
);


ALTER TYPE "public"."visibility_enum" OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" bigint NOT NULL,
    "user_id" "uuid" NOT NULL,
    "message" "text" NOT NULL,
    "link" "text",
    "status" "public"."notification_status_enum" DEFAULT 'unread'::"public"."notification_status_enum" NOT NULL,
    "type" "public"."notification_type_enum" DEFAULT 'general_info'::"public"."notification_type_enum" NOT NULL,
    "trek_id" integer,
    "related_entity_id" bigint,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."create_notification"("p_user_id" "uuid", "p_message" "text", "p_type" "public"."notification_type_enum", "p_link" "text" DEFAULT NULL::"text", "p_trek_id" integer DEFAULT NULL::integer, "p_related_entity_id" bigint DEFAULT NULL::bigint) RETURNS "public"."notifications"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
    new_notification public.notifications;
BEGIN
    INSERT INTO public.notifications (user_id, message, type, link, trek_id, related_entity_id, status)
    VALUES (p_user_id, p_message, p_type, p_link, p_trek_id, p_related_entity_id, 'unread')
    RETURNING * INTO new_notification;
    RETURN new_notification;
END;
$$;


ALTER FUNCTION "public"."create_notification"("p_user_id" "uuid", "p_message" "text", "p_type" "public"."notification_type_enum", "p_link" "text", "p_trek_id" integer, "p_related_entity_id" bigint) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_my_notifications"("page_size" integer DEFAULT 20, "page_num" integer DEFAULT 1) RETURNS SETOF "public"."notifications"
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  SELECT *
  FROM public.notifications
  WHERE user_id = auth.uid()
  ORDER BY created_at DESC
  LIMIT page_size
  OFFSET (page_num - 1) * page_size;
$$;


ALTER FUNCTION "public"."get_my_notifications"("page_size" integer, "page_num" integer) OWNER TO "postgres";


COMMENT ON FUNCTION "public"."get_my_notifications"("page_size" integer, "page_num" integer) IS 'Retrieves paginated notifications for the currently authenticated user.';



CREATE OR REPLACE FUNCTION "public"."get_trek_participant_count"("p_trek_id" integer) RETURNS integer
    LANGUAGE "sql" STABLE SECURITY DEFINER
    AS $$
  SELECT COUNT(user_id)::INT
  FROM public.trek_registrations
  WHERE trek_id = p_trek_id
  AND payment_status IS DISTINCT FROM 'Cancelled';
$$;


ALTER FUNCTION "public"."get_trek_participant_count"("p_trek_id" integer) OWNER TO "postgres";


COMMENT ON FUNCTION "public"."get_trek_participant_count"("p_trek_id" integer) IS 'Safely retrieves the active participant count for a given trek_id, respecting RLS for the function executor but querying data broadly.';



CREATE OR REPLACE FUNCTION "public"."get_user_notifications"("p_user_id" "uuid", "p_limit" integer DEFAULT 10, "p_offset" integer DEFAULT 0) RETURNS TABLE("id" bigint, "user_id" "uuid", "message" "text", "link" "text", "status" "public"."notification_status_enum", "type" "public"."notification_type_enum", "trek_id" integer, "related_entity_id" bigint, "created_at" timestamp with time zone, "trek_name" "text")
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        n.id,
        n.user_id,
        n.message,
        n.link,
        n.status,
        n.type,
        n.trek_id,
        n.related_entity_id,
        n.created_at,
        t.name AS trek_name -- Changed from t.trek_name to t.name AS trek_name
    FROM public.notifications n
    LEFT JOIN public.trek_events t ON n.trek_id = t.trek_id
    WHERE n.user_id = p_user_id
    ORDER BY n.created_at DESC
    LIMIT p_limit
    OFFSET p_offset;
END;
$$;


ALTER FUNCTION "public"."get_user_notifications"("p_user_id" "uuid", "p_limit" integer, "p_offset" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- We now directly upsert, as RLS is handled by grants.
  -- The function maps the 'name' from auth metadata to 'full_name' in the public users table.
  INSERT INTO public.users (user_id, email, full_name, avatar_url, is_verified)
  VALUES (
    NEW.id,
    NEW.email,
    COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.raw_user_meta_data->>'name'),
    NEW.raw_user_meta_data->>'avatar_url',
    true
  )
  ON CONFLICT (email) DO UPDATE 
  SET
    user_id = NEW.id,
    full_name = EXCLUDED.full_name,
    avatar_url = EXCLUDED.avatar_url,
    updated_at = NOW(),
    is_verified = true
  -- We add a condition to NOT update an existing admin's record, preserving their role.
  WHERE
    public.users.user_type IS DISTINCT FROM 'admin';

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin"("p_user_id" "uuid") RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1
    FROM public.users
    WHERE user_id = p_user_id
    AND user_type = 'admin'
  );
END;
$$;


ALTER FUNCTION "public"."is_admin"("p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."mark_all_my_notifications_as_read"() RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  UPDATE public.notifications
  SET 
    status = 'read',
    updated_at = timezone('utc'::text, now())
  WHERE 
    user_id = auth.uid() AND 
    status = 'unread';
END;
$$;


ALTER FUNCTION "public"."mark_all_my_notifications_as_read"() OWNER TO "postgres";


COMMENT ON FUNCTION "public"."mark_all_my_notifications_as_read"() IS 'Marks all unread notifications as read for the currently authenticated user.';



CREATE OR REPLACE FUNCTION "public"."mark_all_notifications_as_read"("p_user_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    UPDATE public.notifications
    SET status = 'read'
    WHERE user_id = p_user_id AND status = 'unread';
END;
$$;


ALTER FUNCTION "public"."mark_all_notifications_as_read"("p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."mark_notification_as_read"("p_notification_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  UPDATE public.notifications
  SET 
    status = 'read',
    updated_at = timezone('utc'::text, now())
  WHERE 
    id = p_notification_id AND 
    user_id = auth.uid();
END;
$$;


ALTER FUNCTION "public"."mark_notification_as_read"("p_notification_id" "uuid") OWNER TO "postgres";


COMMENT ON FUNCTION "public"."mark_notification_as_read"("p_notification_id" "uuid") IS 'Marks a specific notification as read for the currently authenticated user.';



CREATE OR REPLACE FUNCTION "public"."mark_notification_as_read"("p_notification_id" bigint, "p_user_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    UPDATE public.notifications
    SET status = 'read'
    WHERE id = p_notification_id AND user_id = p_user_id;
END;
$$;


ALTER FUNCTION "public"."mark_notification_as_read"("p_notification_id" bigint, "p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sync_body_to_comment_text"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.comment_text = NEW.body;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."sync_body_to_comment_text"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sync_comment_text_to_body"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.body = NEW.comment_text;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."sync_comment_text_to_body"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_tent_reserved_count"("p_event_id" integer, "p_tent_type_id" integer, "p_quantity_change" integer) RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Update the reserved count
  UPDATE public.tent_inventory 
  SET reserved_count = GREATEST(0, reserved_count + p_quantity_change),
      updated_at = CURRENT_TIMESTAMP
  WHERE event_id = p_event_id 
    AND tent_type_id = p_tent_type_id;
  
  -- Check if the update was successful
  IF NOT FOUND THEN
    RAISE EXCEPTION 'Tent inventory not found for event % and tent type %', p_event_id, p_tent_type_id;
  END IF;
  
  -- Verify that reserved count doesn't exceed total available
  IF EXISTS (
    SELECT 1 FROM public.tent_inventory 
    WHERE event_id = p_event_id 
      AND tent_type_id = p_tent_type_id 
      AND reserved_count > total_available
  ) THEN
    RAISE EXCEPTION 'Reserved count cannot exceed total available tents';
  END IF;
  
  RETURN TRUE;
END;
$$;


ALTER FUNCTION "public"."update_tent_reserved_count"("p_event_id" integer, "p_tent_type_id" integer, "p_quantity_change" integer) OWNER TO "postgres";


COMMENT ON FUNCTION "public"."update_tent_reserved_count"("p_event_id" integer, "p_tent_type_id" integer, "p_quantity_change" integer) IS 'Updates the reserved count for tent inventory with validation';



CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."comments" (
    "comment_id" integer NOT NULL,
    "post_id" integer,
    "user_id" "uuid",
    "body" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."comments" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."comments_comment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."comments_comment_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."comments_comment_id_seq" OWNED BY "public"."comments"."comment_id";



CREATE TABLE IF NOT EXISTS "public"."community_posts" (
    "post_id" integer NOT NULL,
    "user_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "body" "text",
    "post_type" "public"."post_type_enum" DEFAULT 'discussion'::"public"."post_type_enum" NOT NULL,
    "visibility" "public"."visibility_enum" DEFAULT 'public'::"public"."visibility_enum" NOT NULL,
    "tags" "text"[],
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."community_posts" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."community_posts_post_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."community_posts_post_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."community_posts_post_id_seq" OWNED BY "public"."community_posts"."post_id";



CREATE TABLE IF NOT EXISTS "public"."expense_shares" (
    "id" integer NOT NULL,
    "expense_id" integer NOT NULL,
    "user_id" "uuid" NOT NULL,
    "amount" numeric(10,2) NOT NULL,
    "status" character varying(20) DEFAULT 'pending'::character varying,
    "payment_method" character varying(50),
    "payment_date" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "valid_expense_share_status" CHECK ((("status")::"text" = ANY ((ARRAY['pending'::character varying, 'paid'::character varying, 'rejected'::character varying])::"text"[])))
);


ALTER TABLE "public"."expense_shares" OWNER TO "postgres";


COMMENT ON TABLE "public"."expense_shares" IS 'Tracks how individual expenses are shared among participants.';



CREATE SEQUENCE IF NOT EXISTS "public"."expense_shares_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."expense_shares_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."expense_shares_id_seq" OWNED BY "public"."expense_shares"."id";



CREATE TABLE IF NOT EXISTS "public"."master_packing_items" (
    "id" integer NOT NULL,
    "name" "text" NOT NULL,
    "category" character varying(100),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."master_packing_items" OWNER TO "postgres";


COMMENT ON TABLE "public"."master_packing_items" IS 'Master list of reusable packing items for treks.';



CREATE SEQUENCE IF NOT EXISTS "public"."master_packing_items_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."master_packing_items_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."master_packing_items_id_seq" OWNED BY "public"."master_packing_items"."id";



CREATE SEQUENCE IF NOT EXISTS "public"."notifications_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."notifications_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."notifications_id_seq" OWNED BY "public"."notifications"."id";



CREATE TABLE IF NOT EXISTS "public"."subscriptions_billing" (
    "id" integer NOT NULL,
    "subscription_id" integer,
    "user_id" "uuid",
    "amount" numeric,
    "start_date" timestamp with time zone,
    "end_date" timestamp with time zone,
    "renewal_status" "public"."subscription_renewal_status",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."subscriptions_billing" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."subscriptions_billing_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."subscriptions_billing_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."subscriptions_billing_id_seq" OWNED BY "public"."subscriptions_billing"."id";



CREATE TABLE IF NOT EXISTS "public"."tent_inventory" (
    "id" integer NOT NULL,
    "event_id" integer NOT NULL,
    "tent_type_id" integer NOT NULL,
    "total_available" integer DEFAULT 0 NOT NULL,
    "reserved_count" integer DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updated_at" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "tent_inventory_reserved_count_check" CHECK (("reserved_count" >= 0)),
    CONSTRAINT "tent_inventory_total_available_check" CHECK (("total_available" >= 0))
);


ALTER TABLE "public"."tent_inventory" OWNER TO "postgres";


COMMENT ON TABLE "public"."tent_inventory" IS 'Tracks tent availability per event';



CREATE SEQUENCE IF NOT EXISTS "public"."tent_inventory_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."tent_inventory_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."tent_inventory_id_seq" OWNED BY "public"."tent_inventory"."id";



CREATE TABLE IF NOT EXISTS "public"."tent_requests" (
    "id" integer NOT NULL,
    "event_id" integer NOT NULL,
    "user_id" "uuid" NOT NULL,
    "tent_type_id" integer NOT NULL,
    "quantity_requested" integer DEFAULT 1 NOT NULL,
    "nights" integer DEFAULT 1 NOT NULL,
    "total_cost" numeric(10,2) DEFAULT 0.00 NOT NULL,
    "status" character varying(20) DEFAULT 'pending'::character varying,
    "request_notes" "text",
    "admin_notes" "text",
    "created_at" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updated_at" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "tent_requests_nights_check" CHECK (("nights" > 0)),
    CONSTRAINT "tent_requests_quantity_requested_check" CHECK (("quantity_requested" > 0)),
    CONSTRAINT "tent_requests_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying, 'cancelled'::character varying])::"text"[])))
);


ALTER TABLE "public"."tent_requests" OWNER TO "postgres";


COMMENT ON TABLE "public"."tent_requests" IS 'User requests for tent rentals';



CREATE SEQUENCE IF NOT EXISTS "public"."tent_requests_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."tent_requests_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."tent_requests_id_seq" OWNED BY "public"."tent_requests"."id";



CREATE TABLE IF NOT EXISTS "public"."tent_types" (
    "id" integer NOT NULL,
    "name" character varying(100) NOT NULL,
    "capacity" integer NOT NULL,
    "description" "text",
    "rental_price_per_night" numeric(10,2) DEFAULT 0.00 NOT NULL,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "updated_at" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "tent_types_capacity_check" CHECK (("capacity" > 0))
);


ALTER TABLE "public"."tent_types" OWNER TO "postgres";


COMMENT ON TABLE "public"."tent_types" IS 'Defines available tent types for rental';



CREATE SEQUENCE IF NOT EXISTS "public"."tent_types_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."tent_types_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."tent_types_id_seq" OWNED BY "public"."tent_types"."id";



CREATE TABLE IF NOT EXISTS "public"."trek_comments" (
    "comment_id" integer NOT NULL,
    "trek_id" integer NOT NULL,
    "user_id" "uuid" NOT NULL,
    "parent_id" integer,
    "body" "text",
    "comment_text" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."trek_comments" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_comments" IS 'Stores comments related to specific treks.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_comments_comment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_comments_comment_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_comments_comment_id_seq" OWNED BY "public"."trek_comments"."comment_id";



CREATE TABLE IF NOT EXISTS "public"."trek_costs" (
    "id" bigint NOT NULL,
    "trek_id" bigint NOT NULL,
    "cost_type" "text" NOT NULL,
    "description" "text",
    "amount" numeric(10,2) DEFAULT 0 NOT NULL,
    "url" "text",
    "file_url" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "pay_by_date" "date",
    CONSTRAINT "trek_costs_cost_type_check" CHECK (("cost_type" = ANY (ARRAY['ACCOMMODATION'::"text", 'TICKETS'::"text", 'LOCAL_VEHICLE'::"text", 'GUIDE'::"text", 'OTHER'::"text"])))
);


ALTER TABLE "public"."trek_costs" OWNER TO "postgres";


COMMENT ON COLUMN "public"."trek_costs"."pay_by_date" IS 'The date by which this fixed cost must be paid by participants.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_costs_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_costs_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_costs_id_seq" OWNED BY "public"."trek_costs"."id";



CREATE TABLE IF NOT EXISTS "public"."trek_driver_assignments" (
    "id" integer NOT NULL,
    "trek_id" integer NOT NULL,
    "driver_id" "uuid" NOT NULL,
    "participant_id" "uuid" NOT NULL,
    "status" character varying(20) DEFAULT 'pending'::character varying,
    "assigned_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "valid_assignment_status" CHECK ((("status")::"text" = ANY ((ARRAY['pending'::character varying, 'confirmed'::character varying, 'picked_up'::character varying, 'cancelled'::character varying])::"text"[])))
);


ALTER TABLE "public"."trek_driver_assignments" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_driver_assignments" IS 'Assigns participants to specific drivers for a trek.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_driver_assignments_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_driver_assignments_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_driver_assignments_id_seq" OWNED BY "public"."trek_driver_assignments"."id";



CREATE TABLE IF NOT EXISTS "public"."trek_drivers" (
    "id" integer NOT NULL,
    "trek_id" integer NOT NULL,
    "user_id" "uuid" NOT NULL,
    "vehicle_type" character varying(50),
    "vehicle_name" character varying(100),
    "registration_number" character varying(50),
    "seats_available" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."trek_drivers" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_drivers" IS 'Lists users acting as drivers for a specific trek.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_drivers_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_drivers_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_drivers_id_seq" OWNED BY "public"."trek_drivers"."id";



CREATE TABLE IF NOT EXISTS "public"."trek_events" (
    "trek_id" integer NOT NULL,
    "name" character varying(255) NOT NULL,
    "description" "text",
    "category" character varying(100),
    "difficulty" character varying(50),
    "start_datetime" timestamp with time zone NOT NULL,
    "duration" interval,
    "base_price" numeric(10,2),
    "cancellation_policy" "text",
    "penalty_details" numeric(10,2),
    "max_participants" integer NOT NULL,
    "location" "text",
    "route_data" "jsonb",
    "transport_mode" "public"."transport_mode",
    "vendor_contacts" "jsonb",
    "pickup_time_window" "text",
    "event_creator_type" "public"."event_creator_type" DEFAULT 'internal'::"public"."event_creator_type",
    "partner_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "booking_amount" numeric(10,2),
    "collect_full_fee" boolean DEFAULT false,
    "image_url" "text",
    "gpx_file_url" "text",
    "is_finalized" boolean DEFAULT false,
    "created_by" "uuid",
    "end_datetime" timestamp with time zone,
    "status" character varying(50),
    "destination_latitude" double precision,
    "destination_longitude" double precision,
    "event_type" character varying(20) DEFAULT 'trek'::character varying,
    "itinerary" "jsonb",
    "activity_schedule" "jsonb",
    "volunteer_roles" "jsonb",
    CONSTRAINT "trek_events_event_type_check" CHECK ((("event_type")::"text" = ANY ((ARRAY['trek'::character varying, 'camping'::character varying])::"text"[])))
);


ALTER TABLE "public"."trek_events" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_events" IS 'Defines the details of both trek and camping events.';



COMMENT ON COLUMN "public"."trek_events"."partner_id" IS 'Null for internal events; set for micro-community (external) events';



COMMENT ON COLUMN "public"."trek_events"."is_finalized" IS 'True if trek event is fully detailed and registration requires payment/terms';



COMMENT ON COLUMN "public"."trek_events"."event_type" IS 'Type of event: trek (traditional hiking/trekking) or camping (multi-activity camping event)';



COMMENT ON COLUMN "public"."trek_events"."itinerary" IS 'Detailed day-by-day itinerary for camping events (JSON format)';



COMMENT ON COLUMN "public"."trek_events"."activity_schedule" IS 'Scheduled activities with timing and requirements (JSON format)';



COMMENT ON COLUMN "public"."trek_events"."volunteer_roles" IS 'Available volunteer roles and requirements for camping events (JSON format)';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_events_trek_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_events_trek_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_events_trek_id_seq" OWNED BY "public"."trek_events"."trek_id";



CREATE TABLE IF NOT EXISTS "public"."trek_expense_categories" (
    "id" integer NOT NULL,
    "name" character varying(50) NOT NULL,
    "description" "text",
    "icon" character varying(50),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."trek_expense_categories" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_expense_categories" IS 'Lookup table for different types of trek expenses.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_expense_categories_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_expense_categories_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_expense_categories_id_seq" OWNED BY "public"."trek_expense_categories"."id";



CREATE TABLE IF NOT EXISTS "public"."trek_expenses" (
    "id" integer NOT NULL,
    "trek_id" integer NOT NULL,
    "creator_id" "uuid" NOT NULL,
    "category_id" integer,
    "expense_type" character varying(50),
    "amount" numeric(10,2) NOT NULL,
    "description" "text",
    "expense_date" timestamp with time zone DEFAULT "now"() NOT NULL,
    "receipt_url" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."trek_expenses" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_expenses" IS 'Stores all expenses (admin fixed + participant ad-hoc) related to a trek.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_expenses_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_expenses_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_expenses_id_seq" OWNED BY "public"."trek_expenses"."id";



CREATE TABLE IF NOT EXISTS "public"."trek_packing_items" (
    "item_id" integer NOT NULL,
    "name" "text" NOT NULL
);


ALTER TABLE "public"."trek_packing_items" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."trek_packing_items_item_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_packing_items_item_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_packing_items_item_id_seq" OWNED BY "public"."trek_packing_items"."item_id";



CREATE TABLE IF NOT EXISTS "public"."trek_packing_list_assignments" (
    "id" integer NOT NULL,
    "trek_id" integer NOT NULL,
    "master_item_id" integer NOT NULL,
    "mandatory" boolean DEFAULT false,
    "item_order" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."trek_packing_list_assignments" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_packing_list_assignments" IS 'Assigns items from master_packing_items to specific treks with details.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_packing_list_assignments_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_packing_list_assignments_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_packing_list_assignments_id_seq" OWNED BY "public"."trek_packing_list_assignments"."id";



CREATE TABLE IF NOT EXISTS "public"."trek_participant_ratings" (
    "id" bigint NOT NULL,
    "trek_id" integer NOT NULL,
    "rated_user_id" "uuid" NOT NULL,
    "rated_by_user_id" "uuid" NOT NULL,
    "teamwork_rating" integer,
    "punctuality_rating" integer,
    "contribution_rating" integer,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "trek_participant_ratings_contribution_rating_check" CHECK ((("contribution_rating" >= 1) AND ("contribution_rating" <= 5))),
    CONSTRAINT "trek_participant_ratings_punctuality_rating_check" CHECK ((("punctuality_rating" >= 1) AND ("punctuality_rating" <= 5))),
    CONSTRAINT "trek_participant_ratings_teamwork_rating_check" CHECK ((("teamwork_rating" >= 1) AND ("teamwork_rating" <= 5)))
);


ALTER TABLE "public"."trek_participant_ratings" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_participant_ratings" IS 'Stores ratings given by participants to each other.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_participant_ratings_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_participant_ratings_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_participant_ratings_id_seq" OWNED BY "public"."trek_participant_ratings"."id";



CREATE TABLE IF NOT EXISTS "public"."trek_pickup_locations" (
    "id" integer NOT NULL,
    "trek_id" integer NOT NULL,
    "name" character varying(100) NOT NULL,
    "address" "text" NOT NULL,
    "latitude" numeric(10,6),
    "longitude" numeric(10,6),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."trek_pickup_locations" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_pickup_locations" IS 'Defines pickup points for a trek.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_pickup_locations_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_pickup_locations_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_pickup_locations_id_seq" OWNED BY "public"."trek_pickup_locations"."id";



CREATE TABLE IF NOT EXISTS "public"."trek_ratings" (
    "id" bigint NOT NULL,
    "trek_id" integer NOT NULL,
    "user_id" "uuid" NOT NULL,
    "difficulty_rating" integer,
    "enjoyment_rating" integer,
    "scenic_rating" integer,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "trek_ratings_difficulty_rating_check" CHECK ((("difficulty_rating" >= 1) AND ("difficulty_rating" <= 5))),
    CONSTRAINT "trek_ratings_enjoyment_rating_check" CHECK ((("enjoyment_rating" >= 1) AND ("enjoyment_rating" <= 5))),
    CONSTRAINT "trek_ratings_scenic_rating_check" CHECK ((("scenic_rating" >= 1) AND ("scenic_rating" <= 5)))
);


ALTER TABLE "public"."trek_ratings" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_ratings" IS 'Stores user ratings for the overall trek.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_ratings_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_ratings_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_ratings_id_seq" OWNED BY "public"."trek_ratings"."id";



CREATE TABLE IF NOT EXISTS "public"."trek_registrations" (
    "registration_id" integer NOT NULL,
    "user_id" "uuid" NOT NULL,
    "trek_id" integer NOT NULL,
    "booking_datetime" timestamp with time zone DEFAULT "now"(),
    "cancellation_datetime" timestamp with time zone,
    "penalty_applied" numeric(10,2),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "pickup_location_id" integer,
    "is_driver" boolean DEFAULT false,
    "payment_status" "text" DEFAULT 'Pending'::"text",
    "indemnity_agreed" boolean DEFAULT false,
    "indemnity_agreed_at" timestamp with time zone,
    "payment_proof_url" "text"
);


ALTER TABLE "public"."trek_registrations" OWNER TO "postgres";


COMMENT ON TABLE "public"."trek_registrations" IS 'Tracks user registrations for treks.';



COMMENT ON COLUMN "public"."trek_registrations"."indemnity_agreed_at" IS 'Timestamp when the user agreed to the indemnity for this specific trek.';



COMMENT ON COLUMN "public"."trek_registrations"."payment_proof_url" IS 'URL of the uploaded payment proof image in Supabase Storage.';



CREATE SEQUENCE IF NOT EXISTS "public"."trek_registrations_registration_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."trek_registrations_registration_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."trek_registrations_registration_id_seq" OWNED BY "public"."trek_registrations"."registration_id";



CREATE TABLE IF NOT EXISTS "public"."users" (
    "user_id" "uuid" DEFAULT "auth"."uid"() NOT NULL,
    "full_name" character varying(255),
    "email" character varying(255),
    "user_type" "public"."user_type_enum" DEFAULT 'trekker'::"public"."user_type_enum",
    "phone_number" character varying(20),
    "bio" "text",
    "location" character varying(255),
    "avatar_url" "text",
    "indemnity_accepted" boolean DEFAULT false,
    "is_verified" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "has_car" boolean DEFAULT false,
    "car_seating_capacity" integer,
    "vehicle_number" "text",
    "latitude" double precision,
    "longitude" double precision,
    "verification_status" "public"."user_verification_status" DEFAULT 'NOT_SUBMITTED'::"public"."user_verification_status" NOT NULL,
    "verification_docs" "jsonb",
    "date_of_birth" "date",
    "trekking_experience" "text",
    "address" "text",
    "interests" "text",
    "pet_details" "text"
);


ALTER TABLE "public"."users" OWNER TO "postgres";


COMMENT ON TABLE "public"."users" IS 'Stores public user profile information.';



COMMENT ON COLUMN "public"."users"."car_seating_capacity" IS 'How many passengers can the user''s car accommodate (excluding driver).';



CREATE TABLE IF NOT EXISTS "public"."votes" (
    "vote_id" integer NOT NULL,
    "voter_id" "uuid" NOT NULL,
    "target_type" "public"."target_type" NOT NULL,
    "target_id" integer NOT NULL,
    "vote_value" integer NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."votes" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."votes_vote_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE "public"."votes_vote_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."votes_vote_id_seq" OWNED BY "public"."votes"."vote_id";



ALTER TABLE ONLY "public"."comments" ALTER COLUMN "comment_id" SET DEFAULT "nextval"('"public"."comments_comment_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."community_posts" ALTER COLUMN "post_id" SET DEFAULT "nextval"('"public"."community_posts_post_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."expense_shares" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."expense_shares_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."master_packing_items" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."master_packing_items_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."notifications" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."notifications_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."subscriptions_billing" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."subscriptions_billing_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."tent_inventory" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."tent_inventory_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."tent_requests" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."tent_requests_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."tent_types" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."tent_types_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_comments" ALTER COLUMN "comment_id" SET DEFAULT "nextval"('"public"."trek_comments_comment_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_costs" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."trek_costs_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_driver_assignments" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."trek_driver_assignments_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_drivers" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."trek_drivers_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_events" ALTER COLUMN "trek_id" SET DEFAULT "nextval"('"public"."trek_events_trek_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_expense_categories" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."trek_expense_categories_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_expenses" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."trek_expenses_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_packing_items" ALTER COLUMN "item_id" SET DEFAULT "nextval"('"public"."trek_packing_items_item_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_packing_list_assignments" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."trek_packing_list_assignments_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_participant_ratings" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."trek_participant_ratings_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_pickup_locations" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."trek_pickup_locations_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_ratings" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."trek_ratings_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."trek_registrations" ALTER COLUMN "registration_id" SET DEFAULT "nextval"('"public"."trek_registrations_registration_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."votes" ALTER COLUMN "vote_id" SET DEFAULT "nextval"('"public"."votes_vote_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."comments"
    ADD CONSTRAINT "comments_pkey" PRIMARY KEY ("comment_id");



ALTER TABLE ONLY "public"."community_posts"
    ADD CONSTRAINT "community_posts_pkey" PRIMARY KEY ("post_id");



ALTER TABLE ONLY "public"."expense_shares"
    ADD CONSTRAINT "expense_shares_expense_id_user_id_key" UNIQUE ("expense_id", "user_id");



ALTER TABLE ONLY "public"."expense_shares"
    ADD CONSTRAINT "expense_shares_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."master_packing_items"
    ADD CONSTRAINT "master_packing_items_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."master_packing_items"
    ADD CONSTRAINT "master_packing_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_packing_items"
    ADD CONSTRAINT "packing_items_pkey" PRIMARY KEY ("item_id");



ALTER TABLE ONLY "public"."subscriptions_billing"
    ADD CONSTRAINT "subscriptions_billing_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tent_inventory"
    ADD CONSTRAINT "tent_inventory_event_id_tent_type_id_key" UNIQUE ("event_id", "tent_type_id");



ALTER TABLE ONLY "public"."tent_inventory"
    ADD CONSTRAINT "tent_inventory_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tent_requests"
    ADD CONSTRAINT "tent_requests_event_id_user_id_tent_type_id_key" UNIQUE ("event_id", "user_id", "tent_type_id");



ALTER TABLE ONLY "public"."tent_requests"
    ADD CONSTRAINT "tent_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tent_types"
    ADD CONSTRAINT "tent_types_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."tent_types"
    ADD CONSTRAINT "tent_types_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_comments"
    ADD CONSTRAINT "trek_comments_pkey" PRIMARY KEY ("comment_id");



ALTER TABLE ONLY "public"."trek_costs"
    ADD CONSTRAINT "trek_costs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_driver_assignments"
    ADD CONSTRAINT "trek_driver_assignments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_driver_assignments"
    ADD CONSTRAINT "trek_driver_assignments_trek_id_driver_id_participant_id_key" UNIQUE ("trek_id", "driver_id", "participant_id");



ALTER TABLE ONLY "public"."trek_drivers"
    ADD CONSTRAINT "trek_drivers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_drivers"
    ADD CONSTRAINT "trek_drivers_trek_id_user_id_key" UNIQUE ("trek_id", "user_id");



ALTER TABLE ONLY "public"."trek_events"
    ADD CONSTRAINT "trek_events_pkey" PRIMARY KEY ("trek_id");



ALTER TABLE ONLY "public"."trek_expense_categories"
    ADD CONSTRAINT "trek_expense_categories_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."trek_expense_categories"
    ADD CONSTRAINT "trek_expense_categories_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_expenses"
    ADD CONSTRAINT "trek_expenses_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_packing_list_assignments"
    ADD CONSTRAINT "trek_packing_list_assignments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_packing_list_assignments"
    ADD CONSTRAINT "trek_packing_list_assignments_trek_id_master_item_id_key" UNIQUE ("trek_id", "master_item_id");



ALTER TABLE ONLY "public"."trek_participant_ratings"
    ADD CONSTRAINT "trek_participant_ratings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_participant_ratings"
    ADD CONSTRAINT "trek_participant_ratings_trek_id_rated_user_id_rated_by_use_key" UNIQUE ("trek_id", "rated_user_id", "rated_by_user_id");



ALTER TABLE ONLY "public"."trek_pickup_locations"
    ADD CONSTRAINT "trek_pickup_locations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_ratings"
    ADD CONSTRAINT "trek_ratings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trek_ratings"
    ADD CONSTRAINT "trek_ratings_trek_id_user_id_key" UNIQUE ("trek_id", "user_id");



ALTER TABLE ONLY "public"."trek_registrations"
    ADD CONSTRAINT "trek_registrations_pkey" PRIMARY KEY ("registration_id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("user_id");



ALTER TABLE ONLY "public"."votes"
    ADD CONSTRAINT "votes_pkey" PRIMARY KEY ("vote_id");



CREATE INDEX "idx_notifications_user_status" ON "public"."notifications" USING "btree" ("user_id", "status");



CREATE INDEX "idx_tent_inventory_event_id" ON "public"."tent_inventory" USING "btree" ("event_id");



CREATE INDEX "idx_tent_requests_event_user" ON "public"."tent_requests" USING "btree" ("event_id", "user_id");



CREATE INDEX "idx_tent_requests_status" ON "public"."tent_requests" USING "btree" ("status");



CREATE INDEX "idx_trek_costs_cost_type" ON "public"."trek_costs" USING "btree" ("cost_type");



CREATE INDEX "idx_trek_costs_trek_id" ON "public"."trek_costs" USING "btree" ("trek_id");



CREATE INDEX "idx_trek_events_event_type" ON "public"."trek_events" USING "btree" ("event_type");



CREATE INDEX "idx_trek_packing_list_assignments_item_id" ON "public"."trek_packing_list_assignments" USING "btree" ("master_item_id");



CREATE INDEX "idx_trek_packing_list_assignments_trek_id" ON "public"."trek_packing_list_assignments" USING "btree" ("trek_id");



CREATE INDEX "idx_trek_registrations_trek_id" ON "public"."trek_registrations" USING "btree" ("trek_id");



CREATE INDEX "idx_trek_registrations_user_id" ON "public"."trek_registrations" USING "btree" ("user_id");



CREATE OR REPLACE TRIGGER "sync_body_to_comment_text" BEFORE INSERT OR UPDATE OF "body" ON "public"."trek_comments" FOR EACH ROW WHEN ((("new"."body" IS NOT NULL) AND (("new"."comment_text" IS NULL) OR ("new"."comment_text" IS DISTINCT FROM "new"."body")))) EXECUTE FUNCTION "public"."sync_body_to_comment_text"();



CREATE OR REPLACE TRIGGER "sync_comment_text_to_body" BEFORE INSERT OR UPDATE OF "comment_text" ON "public"."trek_comments" FOR EACH ROW WHEN ((("new"."comment_text" IS NOT NULL) AND (("new"."body" IS NULL) OR ("new"."body" IS DISTINCT FROM "new"."comment_text")))) EXECUTE FUNCTION "public"."sync_comment_text_to_body"();



CREATE OR REPLACE TRIGGER "update_tent_inventory_updated_at" BEFORE UPDATE ON "public"."tent_inventory" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_tent_requests_updated_at" BEFORE UPDATE ON "public"."tent_requests" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_tent_types_updated_at" BEFORE UPDATE ON "public"."tent_types" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_trek_costs_updated_at" BEFORE UPDATE ON "public"."trek_costs" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."comments"
    ADD CONSTRAINT "comments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."community_posts"
    ADD CONSTRAINT "community_posts_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("user_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."expense_shares"
    ADD CONSTRAINT "expense_shares_expense_id_fkey" FOREIGN KEY ("expense_id") REFERENCES "public"."trek_expenses"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."expense_shares"
    ADD CONSTRAINT "expense_shares_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."subscriptions_billing"
    ADD CONSTRAINT "subscriptions_billing_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."tent_inventory"
    ADD CONSTRAINT "tent_inventory_event_id_fkey" FOREIGN KEY ("event_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."tent_inventory"
    ADD CONSTRAINT "tent_inventory_tent_type_id_fkey" FOREIGN KEY ("tent_type_id") REFERENCES "public"."tent_types"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."tent_requests"
    ADD CONSTRAINT "tent_requests_event_id_fkey" FOREIGN KEY ("event_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."tent_requests"
    ADD CONSTRAINT "tent_requests_tent_type_id_fkey" FOREIGN KEY ("tent_type_id") REFERENCES "public"."tent_types"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."tent_requests"
    ADD CONSTRAINT "tent_requests_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_comments"
    ADD CONSTRAINT "trek_comments_parent_id_fkey" FOREIGN KEY ("parent_id") REFERENCES "public"."trek_comments"("comment_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_comments"
    ADD CONSTRAINT "trek_comments_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_comments"
    ADD CONSTRAINT "trek_comments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_costs"
    ADD CONSTRAINT "trek_costs_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_driver_assignments"
    ADD CONSTRAINT "trek_driver_assignments_driver_id_fkey" FOREIGN KEY ("driver_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_driver_assignments"
    ADD CONSTRAINT "trek_driver_assignments_participant_id_fkey" FOREIGN KEY ("participant_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_driver_assignments"
    ADD CONSTRAINT "trek_driver_assignments_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_drivers"
    ADD CONSTRAINT "trek_drivers_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_drivers"
    ADD CONSTRAINT "trek_drivers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_events"
    ADD CONSTRAINT "trek_events_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."trek_events"
    ADD CONSTRAINT "trek_events_partner_id_fkey" FOREIGN KEY ("partner_id") REFERENCES "public"."users"("user_id") ON UPDATE CASCADE ON DELETE SET NULL;



ALTER TABLE ONLY "public"."trek_expenses"
    ADD CONSTRAINT "trek_expenses_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "public"."trek_expense_categories"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."trek_expenses"
    ADD CONSTRAINT "trek_expenses_creator_id_fkey" FOREIGN KEY ("creator_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_expenses"
    ADD CONSTRAINT "trek_expenses_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_packing_list_assignments"
    ADD CONSTRAINT "trek_packing_list_assignments_master_item_id_fkey" FOREIGN KEY ("master_item_id") REFERENCES "public"."master_packing_items"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_packing_list_assignments"
    ADD CONSTRAINT "trek_packing_list_assignments_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_participant_ratings"
    ADD CONSTRAINT "trek_participant_ratings_rated_by_user_id_fkey" FOREIGN KEY ("rated_by_user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_participant_ratings"
    ADD CONSTRAINT "trek_participant_ratings_rated_user_id_fkey" FOREIGN KEY ("rated_user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_participant_ratings"
    ADD CONSTRAINT "trek_participant_ratings_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_pickup_locations"
    ADD CONSTRAINT "trek_pickup_locations_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_ratings"
    ADD CONSTRAINT "trek_ratings_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_ratings"
    ADD CONSTRAINT "trek_ratings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_registrations"
    ADD CONSTRAINT "trek_registrations_pickup_location_id_fkey" FOREIGN KEY ("pickup_location_id") REFERENCES "public"."trek_pickup_locations"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."trek_registrations"
    ADD CONSTRAINT "trek_registrations_trek_id_fkey" FOREIGN KEY ("trek_id") REFERENCES "public"."trek_events"("trek_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trek_registrations"
    ADD CONSTRAINT "trek_registrations_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."votes"
    ADD CONSTRAINT "votes_voter_id_fkey" FOREIGN KEY ("voter_id") REFERENCES "auth"."users"("id");



CREATE POLICY "Admin full access to trek costs" ON "public"."trek_costs" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Admins can manage all tent requests" ON "public"."tent_requests" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Admins can manage tent inventory" ON "public"."tent_inventory" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Admins can manage tent types" ON "public"."tent_types" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Allow admin full access to comments" ON "public"."trek_comments" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Allow admin full access to expense categories" ON "public"."trek_expense_categories" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Allow admin full access to expense shares" ON "public"."expense_shares" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Allow admin full access to expenses" ON "public"."trek_expenses" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Allow admin full access to master packing items" ON "public"."master_packing_items" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Allow admin full access to registrations" ON "public"."trek_registrations" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Allow admin full access to trek events" ON "public"."trek_events" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Allow admin full access to trek packing assignments" ON "public"."trek_packing_list_assignments" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Allow admins to update verification status" ON "public"."users" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM "public"."users" "u"
  WHERE (("u"."user_id" = "auth"."uid"()) AND ("u"."user_type" = 'admin'::"public"."user_type_enum"))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."users" "u"
  WHERE (("u"."user_id" = "auth"."uid"()) AND ("u"."user_type" = 'admin'::"public"."user_type_enum")))));



CREATE POLICY "Allow all users to view treks" ON "public"."trek_events" FOR SELECT USING (true);



CREATE POLICY "Allow authenticated read access to transport info" ON "public"."trek_driver_assignments" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Allow authenticated read access to transport info" ON "public"."trek_drivers" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Allow authenticated read access to transport info" ON "public"."trek_pickup_locations" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Allow authenticated users to create treks" ON "public"."trek_events" FOR INSERT TO "authenticated" WITH CHECK (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow authenticated users to vote" ON "public"."votes" USING (("auth"."uid"() = "voter_id")) WITH CHECK (("auth"."uid"() = "voter_id"));



CREATE POLICY "Allow backend to insert notifications" ON "public"."notifications" FOR INSERT WITH CHECK (true);



CREATE POLICY "Allow cost deletion for creators and admins" ON "public"."trek_costs" FOR DELETE TO "authenticated" USING (((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))) OR (EXISTS ( SELECT 1
   FROM "public"."trek_events"
  WHERE (("trek_events"."trek_id" = "trek_costs"."trek_id") AND ("trek_events"."created_by" = "auth"."uid"()))))));



CREATE POLICY "Allow cost insertion for authenticated users" ON "public"."trek_costs" FOR INSERT TO "authenticated" WITH CHECK (((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))) OR (EXISTS ( SELECT 1
   FROM "public"."trek_events"
  WHERE (("trek_events"."trek_id" = "trek_costs"."trek_id") AND ("trek_events"."created_by" = "auth"."uid"()))))));



CREATE POLICY "Allow delete for authenticated users" ON "public"."trek_packing_items" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Allow expense creator to delete shares (before paid?)" ON "public"."expense_shares" FOR DELETE USING ((EXISTS ( SELECT 1
   FROM "public"."trek_expenses" "e"
  WHERE (("e"."id" = "expense_shares"."expense_id") AND ("e"."creator_id" = "auth"."uid"())))));



CREATE POLICY "Allow expense creator to insert shares" ON "public"."expense_shares" FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."trek_expenses" "e"
  WHERE (("e"."id" = "expense_shares"."expense_id") AND ("e"."creator_id" = "auth"."uid"())))));



CREATE POLICY "Allow individual user read access" ON "public"."users" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow individual user update access" ON "public"."users" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow insert for authenticated users" ON "public"."trek_packing_items" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Allow micro-community partners to manage their events" ON "public"."trek_events" USING (("partner_id" = "auth"."uid"()));



CREATE POLICY "Allow public read access" ON "public"."community_posts" FOR SELECT USING (true);



CREATE POLICY "Allow read access to all for trek comments" ON "public"."trek_comments" FOR SELECT USING (true);



CREATE POLICY "Allow read access to all for trek events" ON "public"."trek_events" FOR SELECT USING (true);



CREATE POLICY "Allow read access to expense categories" ON "public"."trek_expense_categories" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Allow read access to master packing items for authenticated use" ON "public"."master_packing_items" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Allow read access to trek packing assignments for authenticated" ON "public"."trek_packing_list_assignments" FOR SELECT TO "authenticated" USING (((EXISTS ( SELECT 1
   FROM "public"."trek_registrations" "r"
  WHERE (("r"."trek_id" = "trek_packing_list_assignments"."trek_id") AND ("r"."user_id" = "auth"."uid"())))) OR (EXISTS ( SELECT 1
   FROM "public"."users" "u"
  WHERE (("u"."user_id" = "auth"."uid"()) AND ("u"."user_type" = 'admin'::"public"."user_type_enum"))))));



CREATE POLICY "Allow select for authenticated users" ON "public"."trek_packing_items" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Allow update for authenticated users" ON "public"."trek_packing_items" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Allow user signup" ON "public"."users" FOR INSERT WITH CHECK (true);



CREATE POLICY "Allow users to delete own expenses" ON "public"."trek_expenses" FOR DELETE USING (("creator_id" = "auth"."uid"()));



CREATE POLICY "Allow users to delete their own comments" ON "public"."trek_comments" FOR DELETE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to insert comments" ON "public"."trek_comments" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to insert expenses for their treks" ON "public"."trek_expenses" FOR INSERT WITH CHECK ((("creator_id" = "auth"."uid"()) AND (EXISTS ( SELECT 1
   FROM "public"."trek_registrations" "r"
  WHERE (("r"."trek_id" = "trek_expenses"."trek_id") AND ("r"."user_id" = "auth"."uid"()))))));



CREATE POLICY "Allow users to insert own registration" ON "public"."trek_registrations" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to select their own notifications" ON "public"."notifications" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to update own expenses" ON "public"."trek_expenses" FOR UPDATE USING (("creator_id" = "auth"."uid"()));



CREATE POLICY "Allow users to update own registration (e.g., cancel)" ON "public"."trek_registrations" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to update status of their own notifications" ON "public"."notifications" FOR UPDATE USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to update status/payment for their shares" ON "public"."expense_shares" FOR UPDATE USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Allow users to update their own comments" ON "public"."trek_comments" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to update verification docs" ON "public"."users" FOR UPDATE USING (("auth"."uid"() = "user_id")) WITH CHECK ((("auth"."uid"() = "user_id") AND (("verification_status" = ( SELECT "users_1"."verification_status"
   FROM "public"."users" "users_1"
  WHERE ("users_1"."user_id" = "auth"."uid"()))) OR (("verification_status" = 'PENDING_REVIEW'::"public"."user_verification_status") AND (( SELECT "users_1"."verification_status"
   FROM "public"."users" "users_1"
  WHERE ("users_1"."user_id" = "auth"."uid"())) = 'NOT_SUBMITTED'::"public"."user_verification_status")))));



CREATE POLICY "Allow users to view expenses for their treks" ON "public"."trek_expenses" FOR SELECT USING ((("creator_id" = "auth"."uid"()) OR (EXISTS ( SELECT 1
   FROM "public"."trek_registrations" "r"
  WHERE (("r"."trek_id" = "trek_expenses"."trek_id") AND ("r"."user_id" = "auth"."uid"())))) OR (EXISTS ( SELECT 1
   FROM "public"."users" "u"
  WHERE (("u"."user_id" = "auth"."uid"()) AND ("u"."user_type" = 'admin'::"public"."user_type_enum"))))));



CREATE POLICY "Allow users to view own registration" ON "public"."trek_registrations" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to view shares they are part of" ON "public"."expense_shares" FOR SELECT USING ((("user_id" = "auth"."uid"()) OR (EXISTS ( SELECT 1
   FROM "public"."trek_expenses" "e"
  WHERE (("e"."id" = "expense_shares"."expense_id") AND ("e"."creator_id" = "auth"."uid"())))) OR (EXISTS ( SELECT 1
   FROM "public"."users" "u"
  WHERE (("u"."user_id" = "auth"."uid"()) AND ("u"."user_type" = 'admin'::"public"."user_type_enum"))))));



CREATE POLICY "Anyone can view tent inventory" ON "public"."tent_inventory" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Anyone can view tent types" ON "public"."tent_types" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Authenticated users can view trek costs" ON "public"."trek_costs" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Trek creators can manage trek costs" ON "public"."trek_costs" TO "authenticated" USING (((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."user_id" = "auth"."uid"()) AND ("users"."user_type" = 'admin'::"public"."user_type_enum")))) OR (EXISTS ( SELECT 1
   FROM "public"."trek_events"
  WHERE (("trek_events"."trek_id" = "trek_costs"."trek_id") AND ("trek_events"."created_by" = "auth"."uid"()))))));



CREATE POLICY "Users can create their own tent requests" ON "public"."tent_requests" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own posts" ON "public"."community_posts" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can read profiles" ON "public"."users" FOR SELECT USING (true);



CREATE POLICY "Users can update their own pending tent requests" ON "public"."tent_requests" FOR UPDATE USING ((("auth"."uid"() = "user_id") AND (("status")::"text" = 'pending'::"text")));



CREATE POLICY "Users can update their profile" ON "public"."users" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own tent requests" ON "public"."tent_requests" FOR SELECT USING (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."community_posts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."expense_shares" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."master_packing_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tent_inventory" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tent_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tent_types" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_comments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_costs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_driver_assignments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_drivers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_events" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_expense_categories" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_expenses" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_packing_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_packing_list_assignments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_participant_ratings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_pickup_locations" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_ratings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trek_registrations" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."votes" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";





GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";

















































































































































































GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON FUNCTION "public"."create_notification"("p_user_id" "uuid", "p_message" "text", "p_type" "public"."notification_type_enum", "p_link" "text", "p_trek_id" integer, "p_related_entity_id" bigint) TO "anon";
GRANT ALL ON FUNCTION "public"."create_notification"("p_user_id" "uuid", "p_message" "text", "p_type" "public"."notification_type_enum", "p_link" "text", "p_trek_id" integer, "p_related_entity_id" bigint) TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_notification"("p_user_id" "uuid", "p_message" "text", "p_type" "public"."notification_type_enum", "p_link" "text", "p_trek_id" integer, "p_related_entity_id" bigint) TO "service_role";



GRANT ALL ON FUNCTION "public"."get_my_notifications"("page_size" integer, "page_num" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."get_my_notifications"("page_size" integer, "page_num" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_my_notifications"("page_size" integer, "page_num" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."get_trek_participant_count"("p_trek_id" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."get_trek_participant_count"("p_trek_id" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_trek_participant_count"("p_trek_id" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."get_user_notifications"("p_user_id" "uuid", "p_limit" integer, "p_offset" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."get_user_notifications"("p_user_id" "uuid", "p_limit" integer, "p_offset" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_user_notifications"("p_user_id" "uuid", "p_limit" integer, "p_offset" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin"("p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin"("p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin"("p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."mark_all_my_notifications_as_read"() TO "anon";
GRANT ALL ON FUNCTION "public"."mark_all_my_notifications_as_read"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."mark_all_my_notifications_as_read"() TO "service_role";



GRANT ALL ON FUNCTION "public"."mark_all_notifications_as_read"("p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."mark_all_notifications_as_read"("p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."mark_all_notifications_as_read"("p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."mark_notification_as_read"("p_notification_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."mark_notification_as_read"("p_notification_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."mark_notification_as_read"("p_notification_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."mark_notification_as_read"("p_notification_id" bigint, "p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."mark_notification_as_read"("p_notification_id" bigint, "p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."mark_notification_as_read"("p_notification_id" bigint, "p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_body_to_comment_text"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_body_to_comment_text"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_body_to_comment_text"() TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_comment_text_to_body"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_comment_text_to_body"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_comment_text_to_body"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_tent_reserved_count"("p_event_id" integer, "p_tent_type_id" integer, "p_quantity_change" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."update_tent_reserved_count"("p_event_id" integer, "p_tent_type_id" integer, "p_quantity_change" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_tent_reserved_count"("p_event_id" integer, "p_tent_type_id" integer, "p_quantity_change" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";


















GRANT ALL ON TABLE "public"."comments" TO "anon";
GRANT ALL ON TABLE "public"."comments" TO "authenticated";
GRANT ALL ON TABLE "public"."comments" TO "service_role";



GRANT ALL ON SEQUENCE "public"."comments_comment_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."comments_comment_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."comments_comment_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."community_posts" TO "anon";
GRANT ALL ON TABLE "public"."community_posts" TO "authenticated";
GRANT ALL ON TABLE "public"."community_posts" TO "service_role";



GRANT ALL ON SEQUENCE "public"."community_posts_post_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."community_posts_post_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."community_posts_post_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."expense_shares" TO "anon";
GRANT ALL ON TABLE "public"."expense_shares" TO "authenticated";
GRANT ALL ON TABLE "public"."expense_shares" TO "service_role";



GRANT ALL ON SEQUENCE "public"."expense_shares_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."expense_shares_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."expense_shares_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."master_packing_items" TO "anon";
GRANT ALL ON TABLE "public"."master_packing_items" TO "authenticated";
GRANT ALL ON TABLE "public"."master_packing_items" TO "service_role";



GRANT ALL ON SEQUENCE "public"."master_packing_items_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."master_packing_items_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."master_packing_items_id_seq" TO "service_role";



GRANT ALL ON SEQUENCE "public"."notifications_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."notifications_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."notifications_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."subscriptions_billing" TO "anon";
GRANT ALL ON TABLE "public"."subscriptions_billing" TO "authenticated";
GRANT ALL ON TABLE "public"."subscriptions_billing" TO "service_role";



GRANT ALL ON SEQUENCE "public"."subscriptions_billing_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."subscriptions_billing_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."subscriptions_billing_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."tent_inventory" TO "anon";
GRANT ALL ON TABLE "public"."tent_inventory" TO "authenticated";
GRANT ALL ON TABLE "public"."tent_inventory" TO "service_role";



GRANT ALL ON SEQUENCE "public"."tent_inventory_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."tent_inventory_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."tent_inventory_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."tent_requests" TO "anon";
GRANT ALL ON TABLE "public"."tent_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."tent_requests" TO "service_role";



GRANT ALL ON SEQUENCE "public"."tent_requests_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."tent_requests_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."tent_requests_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."tent_types" TO "anon";
GRANT ALL ON TABLE "public"."tent_types" TO "authenticated";
GRANT ALL ON TABLE "public"."tent_types" TO "service_role";



GRANT ALL ON SEQUENCE "public"."tent_types_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."tent_types_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."tent_types_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_comments" TO "anon";
GRANT ALL ON TABLE "public"."trek_comments" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_comments" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_comments_comment_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_comments_comment_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_comments_comment_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_costs" TO "anon";
GRANT ALL ON TABLE "public"."trek_costs" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_costs" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_costs_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_costs_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_costs_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_driver_assignments" TO "anon";
GRANT ALL ON TABLE "public"."trek_driver_assignments" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_driver_assignments" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_driver_assignments_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_driver_assignments_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_driver_assignments_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_drivers" TO "anon";
GRANT ALL ON TABLE "public"."trek_drivers" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_drivers" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_drivers_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_drivers_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_drivers_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_events" TO "anon";
GRANT ALL ON TABLE "public"."trek_events" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_events" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_events_trek_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_events_trek_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_events_trek_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_expense_categories" TO "anon";
GRANT ALL ON TABLE "public"."trek_expense_categories" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_expense_categories" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_expense_categories_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_expense_categories_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_expense_categories_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_expenses" TO "anon";
GRANT ALL ON TABLE "public"."trek_expenses" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_expenses" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_expenses_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_expenses_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_expenses_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_packing_items" TO "anon";
GRANT ALL ON TABLE "public"."trek_packing_items" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_packing_items" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_packing_items_item_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_packing_items_item_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_packing_items_item_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_packing_list_assignments" TO "anon";
GRANT ALL ON TABLE "public"."trek_packing_list_assignments" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_packing_list_assignments" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_packing_list_assignments_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_packing_list_assignments_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_packing_list_assignments_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_participant_ratings" TO "anon";
GRANT ALL ON TABLE "public"."trek_participant_ratings" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_participant_ratings" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_participant_ratings_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_participant_ratings_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_participant_ratings_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_pickup_locations" TO "anon";
GRANT ALL ON TABLE "public"."trek_pickup_locations" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_pickup_locations" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_pickup_locations_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_pickup_locations_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_pickup_locations_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_ratings" TO "anon";
GRANT ALL ON TABLE "public"."trek_ratings" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_ratings" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_ratings_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_ratings_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_ratings_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trek_registrations" TO "anon";
GRANT ALL ON TABLE "public"."trek_registrations" TO "authenticated";
GRANT ALL ON TABLE "public"."trek_registrations" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trek_registrations_registration_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trek_registrations_registration_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trek_registrations_registration_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON TABLE "public"."votes" TO "anon";
GRANT ALL ON TABLE "public"."votes" TO "authenticated";
GRANT ALL ON TABLE "public"."votes" TO "service_role";



GRANT ALL ON SEQUENCE "public"."votes_vote_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."votes_vote_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."votes_vote_id_seq" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES  TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS  TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES  TO "service_role";






























RESET ALL;
